In [1]:
try = q

SyntaxError: invalid syntax (3438429406.py, line 1)

In [2]:
true = 1

In [4]:
if = 1

SyntaxError: invalid syntax (535306765.py, line 1)

In [5]:
If = 1

In [11]:
list(range(9,-1,-1))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [15]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [18]:
a = int(float('123.456'))


print(a , type(a))

123 <class 'int'>

In [1]:
a = input("first name")
b = input("second name")
print ("my fisrt name is ",a + "my second name is ", b )

first namexyz
second nameabc
my fisrt name is  xyzmy second name is  abc

In [6]:
a = input("first name")
b = input("second name")
c = "my fisrt name is "+a  + "my second name is " +b 
print(c)

first nameasd
second namezxc
my fisrt name is asdmy second name is zxc

In [4]:
c = 'my fisrt name is' input("first name") + 'my second name is' input("second name")
print(c)

SyntaxError: invalid syntax (2288921736.py, line 1)

In [1]:
a=(1,2,3,4,2.5,"hi")
a=a[:4]+(9,'x','d') +a[:4]
print(a)

b=("a","s","d")
c=''.join(b)
print(c,type(c))

print(a[-4])

e=(1,1,1,2,2,2,3,3,3,4,4,4,5,5,5)

print(1 in e)

f=tuple([1,2,3,4,5,6,7])

print(f,type(f))




g=(1,2,3,4,5,6,7)
h=list(g)
print(h,type(h))
h.remove(3)
h.remove(4)
print(h)
i=tuple(h)
print(i)


g=g[2:4:1]
print(g)

k=(1,2,3,4,5,6,7,8)
print(k.index(3))

(1, 2, 3, 4, 9, 'x', 'd', 1, 2, 3, 4)
asd <class 'str'>
1
True
(1, 2, 3, 4, 5, 6, 7) <class 'tuple'>
[1, 2, 3, 4, 5, 6, 7] <class 'list'>
[1, 2, 5, 6, 7]
(1, 2, 5, 6, 7)
(3, 4)
2

AttributeError: 'tuple' object has no attribute 'len'

In [17]:
k=(1,2,3,4,5,6,7,8)
print(k.index(3))

print(len(k))
print(k[::-1])

2
8
(8, 7, 6, 5, 4, 3, 2, 1)

In [10]:
t=((2,'w'),(3,'q'))
print(dict((x,y)for x,y in t))

{2: 'w', 3: 'q'}

In [15]:
q=[(1,2,3),(1,2,4),(4,5,6)]
print(list(zip(*q)))

[(1, 1, 4), (2, 2, 5), (3, 4, 6)]

In [26]:
t=[100,200,300]
print("this is a tuple %s" %t)

this is a tuple [100, 200, 300]

In [28]:
t=(100,200,300)
print("this is a tuple {0}".format(t))

this is a tuple (100, 200, 300)

In [29]:
t=[100,200,300]
print("this is a tuple {0}".format(t))

this is a tuple [100, 200, 300]

In [3]:
l=[(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1]+(100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [9]:
s=[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
s=[t for t in s if t]
print(s)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [20]:
 S="Twinkle, twinkle, little star, \n \t How I wonder what you are!\n \t \t Up above the world so high,\n\t\t Like a diamond in the sky.\n Twinkle, twinkle, little star,\n\t How I wonder what you are"
 print(S)

Twinkle, twinkle, little star,
 	 How I wonder what you are!
 	 	 Up above the world so high,
		 Like a diamond in the sky.
 Twinkle, twinkle, little star,
	 How I wonder what you are

In [22]:
import sys
print(sys.version)

3.9.13 (main, Aug 25 2022, 23:51:50) [MSC v.1916 64 bit (AMD64)]

In [29]:
import datetime
now=datetime.datetime.now()
print(now)

2023-03-06 14:27:38.938391

In [6]:
from math import pi
r=float(input ("radius"))
a=pi*(r**2)
print("area=",a)

radius2.1
area= 13.854423602330987

In [8]:
f=input("first name ")
l=input("last name ")
print(l,f)

first name sam
last name lin
lin sam

In [25]:
s=input("numbers= ")
print("list=", list(s)) 
print("tuples=" ,tuple(s))

numbers= 1234rdsdf
list= ['1', '2', '3', '4', 'r', 'd', 's', 'd', 'f']
tuples= ('1', '2', '3', '4', 'r', 'd', 's', 'd', 'f')

In [30]:
f=input("file name: ")
ext= f.split(".")
print(ext[-1])

file name: we.w
w

In [39]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0], color_list[-1])

Red Black

In [41]:
exam_st_date = (11, 12, 2014)
print("The examination will start from: %s/%s/%s" %exam_st_date)

The examination will start from: 11/12/2014

In [54]:
n=int(input("integer= "))
n1=int("%s" %n)
n2=int("%s%s" %(n,n))
n3=int("%s%s%s" %(n,n,n))
print("R= ",n1+n2+n3)

integer= 5
R=  615

In [57]:
print(abs.__doc__)
print(abs(-23.45))

Return the absolute value of the argument.
23.45

In [66]:
import calendar
y=int(input("input year = "))
m=int(input("input month = "))
print(calendar.month(y, m))

input year = 2037
input month = 12
   December 2037
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [67]:
print("""
a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example
""")

a string that you "don't" have to escape
This
is a  ....... multi-line
heredoc string --------> example

In [72]:
from datetime import date
f=date(2014, 7, 2)
l=date(2014, 7, 11)
diff=l-f
print(diff.days)

9

In [4]:
from math import pi
r=eval(input("enter radius= "))
V= 4.0/3.0*pi* r**3
print("Volume= ", V)

enter radius= 34.34
Volume=  169624.85201446497

In [12]:
a=int(input("number= "))
x=a%2
if x>0:
    print("odd")
else:
    print("even")

number= 5
odd

In [18]:
l=[1,1,1,12,22,4,5,4,5,4,5,4]
y=l.count(1)

print(y)

3

In [4]:
l=[1,2,3,4,5,6]

print(str(l), sep='--')

[1, 2, 3, 4, 5, 6]

In [3]:
c_1 = {"White", "Black", "Red"}
c_2 = {"Red", "Green"}
print("color_list_1 that are not present in color_list_2\n",(c_1.difference(c_2)))
print("color_list_2 that are not present in color_list_1\n",(c_2.difference(c_1)))

color_list_1 that are not present in color_list_2
 {'Black', 'White'}
color_list_2 that are not present in color_list_1
 {'Green'}

In [1]:
b=eval(input("base= "))
h=eval(input("height= "))
a=(b*h)/2
print(a)

base= 2
height= 3
3.0

In [3]:
s={1,3,4,'f','k',4,2,3}
print(s)

{1, 2, 3, 4, 'k', 'f'}

In [8]:
n=int(input('number = '))
s=int((n*(n+1))/2)
print("sum of n munbers= ",s)

number = 8
sum of n munbers=  36

In [1]:
import math
l=float(input("enter L= "))
b=float(input("enter B= "))
h=(math.sqrt((l**2)+(b**2)))
print("hypotenuse = ",h)

enter L= 3
enter B= 4
hypotenuse =  5.0

In [2]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [9]:
print(dir(type))

['__abstractmethods__', '__base__', '__bases__', '__basicsize__', '__call__', '__class__', '__delattr__', '__dict__', '__dictoffset__', '__dir__', '__doc__', '__eq__', '__flags__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__instancecheck__', '__itemsize__', '__le__', '__lt__', '__module__', '__mro__', '__name__', '__ne__', '__new__', '__prepare__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasscheck__', '__subclasses__', '__subclasshook__', '__text_signature__', '__weakrefoffset__', 'mro']

In [3]:
s=input('enter a str = ')
str= '+'.join(s)
print("joind string= ",str)

enter a str = "gy" "tgvtg"
joind string=  "+g+y+"+ +"+t+g+v+t+g+"

In [4]:
s=sum({1,2,3,4,5})
print(s)

15

In [3]:
s=sum([1,2,3,4,5])
print(s)

15

In [6]:
k=sum((1,2,3,4,50))
print(k)

60

In [11]:
s = input("enter string= ")
print(s.count("o"))

enter string= osfvofvfsv dofvd dfovdf fosf osfc
6

In [21]:
l=list(map(int, input("Enter list = ").split()))
print(l)
print (all(x > 1 for x in l))

Enter list = 123456
[123456]
True

In [34]:
x=20
y=30
s=x+y
c=f'{x}+{y} ='
print(c,s)

20+30 = 50

In [38]:
n=int(input('a number= '))
if n==1:
    print("monday")
else:
    print("error")

a number= 4
error

In [41]:
a=10
b=20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

In [42]:
a=10
print(id(10),type(a),a)

2468636879440 <class 'int'> 10

In [48]:
import time
print(time.ctime())

Thu Mar  9 20:52:46 2023

In [52]:
n=20
print(type (n)())

0

In [62]:
s=("fghFGFGHhjHJj sfc sdcGJK GHHjj")
print(s.title())

Fghfgfghhjhjj Sfc Sdcgjk Ghhjj

In [64]:
a=15
print(a)

15

In [76]:
s=input('enter any string= ')
print(s.startswith("h"))

enter any string= H
False

In [1]:
s=float(input("enter a number= "))
c=f'{s}'
print(c)

enter a number= 2323.232424
2323.232424

In [ ]:
s=float(input("enter a number= "))
print("number"+"{:.2f}".format(s))

In [3]:
str1 = 'https://www.w3resource.com/python-exercises/string'
print(str1.split('/',1)[0])
print(str1.split('-',1)[0])

https:
https://www.w3resource.com/python

In [4]:
str1 = 'https://www.w3resource.com/python-exercises/string'
print(str1.rsplit('/',1)[0])
print(str1.rsplit('-',1)[0])

https://www.w3resource.com/python-exercises
https://www.w3resource.com/python